@tailwind base;
@tailwind components;
@tailwind utilities;


:root  {
    --background: 149 100% 95%;
    --foreground: 149 5% 0%;
    --card: 149 50% 90%;
    --card-foreground: 149 5% 10%;
    --popover: 149 100% 95%;
    --popover-foreground: 149 100% 0%;
    --primary: 149 55% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 149 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 111 30% 85%;
    --muted-foreground: 149 5% 35%;
    --accent: 111 30% 80%;
    --accent-foreground: 149 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 149 5% 90%;
    --border: 149 30% 50%;
    --input: 149 30% 18%;
    --ring: 149 55% 38%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 149 50% 5%;
    --foreground: 149 5% 90%;
    --card: 149 50% 0%;
    --card-foreground: 149 5% 90%;
    --popover: 149 50% 5%;
    --popover-foreground: 149 5% 90%;
    --primary: 149 55% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 149 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 111 30% 15%;
    --muted-foreground: 149 5% 60%;
    --accent: 111 30% 15%;
    --accent-foreground: 149 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 149 5% 90%;
    --border: 149 30% 18%;
    --input: 149 30% 18%;
    --ring: 149 55% 38%;
    --radius: 0.5rem;
  }
